@model IEnumerable<String>;
@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>
<div>
    @{
        foreach (String s in Model)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@s</h5>
                    <a href="Course/GetStudentsByCourse/@s" class="card-link">Student List</a>
                </div>
           </div>
        }
    }
</div>

